.ind-main {
	width: 100%;
	background: #fff;
	padding: 41px 0 55px 0;
	&__w {
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__info {
		width: 792px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&-i {
			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			color: #395e95;
		}
		&-t {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 120%;
			color: #1f2937;
		}
		&-a {
			margin: 4px 0 0 0;
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #4b5563;
		}
		&-l {
			margin: 25px 0 0 0;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
			gap: 52px 24px;
			width: 100%;
		}
		&-e {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 16px 0;
			width: 248px;
			& h3 {
				margin: 8px 0 0 0;
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 120%;
				color: #2d4350;
			}
			& p {
				margin: 4px 0 0 0;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 150%;
				color: #606f89;
			}
		}
	}
	&__form {
		margin: 7px 0 0 0;
		padding: 32px 16px;
		background: #f3f4f6;
		box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
		border-radius: 8px;
		width: 392px;
		&-i {
			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			color: #395e95;
		}
		&-t {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 120%;
			color: #1f2937;
		}
		&-a {
			margin: 4px 0 0 0;
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #4b5563;
		}
		&-type {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 29px 0 0 0;
			& #track_i {
				&::before {
					content: '';
					width: 24px;
					height: 24px;
					background: url('./../svg/index_one/truck.svg') no-repeat;
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translate(0%, -50%);
				}
			}
			& #map_i {
				&::before {
					content: '';
					width: 24px;
					height: 24px;
					background: url('./../svg/index_one/map.svg') no-repeat;
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translate(0%, -50%);
				}
			}
			& .c_select {
				margin: 8px 0 0 0;
				width: 100%;
				position: relative;
				box-shadow: none;
				background: #ffffff;
				border: 1px solid #9ca3af;
				border-radius: 8px;
				& .c_select-wrapper {
					height: max-content;
				}
				& .c_select-element {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
				}
				& .c_select-placeholder {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
					&:after {
						content: '';
						background: url('./../svg/index_one/arrow.svg') no-repeat;
						width: 24px;
						height: 24px;
						right: 20px;
					}
				}
			}
		}
		&-h {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			& img {
				margin: 3px 0 0 6px;
			}
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				color: #395e95;
			}
		}
		&-trns {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 14px;
			background: #395e95;
			border-radius: 8px;
			margin: 24px 0 0 0;
			& img {
				display: none;
			}
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.2px;
				color: #ffffff;
			}
		}
	}
	&__forms {
		padding: 32px 16px;
		background: #f3f4f6;
		box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
		border-radius: 8px;
		width: 392px;
		&-i {
			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			color: #395e95;
		}
		&-t {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 120%;
			color: #1f2937;
		}
		&-l {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&-e {
			margin: 32px 0 0 0;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
		}
		&-icon {
			width: 40px;
		}
		&-p {
			width: 100%;
			margin: 16px 0 0 0;
			height: 8px;
			background: #e5e7eb;
			border-radius: 8px;
			position: relative;
			overflow: hidden;
		}
		&-bar {
			position: absolute;
			top: 50%;
			left: 0;
			width: 0px;
			height: 100%;
			transform: translate(0%, -50%);
			background: #395e95;
			transition: all 0.5 ease;
		}
		&-info {
			font-family: Inter;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 120%;
			color: #000000;
			margin: 16px 0 0 0;
		}
		&-a {
			width: 100%;
			display: flex;
			align-items: center;
			margin: 4px 0 0 0;
			justify-content: space-between;
			& h5,
			p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 120%;
				color: #374151;
			}
		}
		&-text {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			& p,
			span {
				font-family: Inter;
				font-style: normal;
				font-weight: 700;
				font-size: 15px;
				line-height: 120%;
				color: #1f2937;
			}
		}
		&-w {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: calc(100% - 56px);
		}
		&-name {
			display: flex;
			margin: 62px 0 0 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			&_m {
				margin: 0 14px 0 0 !important;
				position: absolute;
				top: 50%;
				left: 12px;
				transform: translate(0%, -50%);
			}
			& label {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				padding: 10px 12px;
				background: #ffffff;
				border: 1px solid #9ca3af;
				border-radius: 8px;
				width: 100%;
				position: relative;
				& img {
					margin: 3px 0 0 6px;
					position: relative !important;
					transform: none;
					left: auto;
					top: auto;
				}
			}
			& input {
				font-family: Inter;
				font-style: normal;
				width: 100%;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.2px;
				color: #2d4350;
				&::placeholder {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
					opacity: 0.5;
				}
			}
		}
		&-n {
			position: absolute;
			top: -25px;
			left: 0;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				color: #395e95;
			}
			& img {
				margin: 3px 0 0 6px;
			}
		}
		&-phone {
			display: flex;
			margin: 45px 0 0 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			&_m {
				margin: 0 14px 0 0 !important;
				position: absolute;
				top: 50%;
				left: 12px;
				transform: translate(0%, -50%);
			}
			& label {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				padding: 10px 12px;
				background: #ffffff;
				border: 1px solid #9ca3af;
				border-radius: 8px;
				width: 100%;
				position: relative;
				& img {
					margin: 3px 0 0 6px;
					position: relative !important;
					transform: none;
					left: auto;
					top: auto;
				}
			}
			& input {
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				width: 100%;
				letter-spacing: 0.2px;
				color: #2d4350;
				&::placeholder {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
					opacity: 0.5;
				}
			}
		}
		&-ph {
			position: absolute;
			top: -25px;
			left: 0;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				color: #395e95;
			}
		}
		&-trns {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 14px;
			background: #395e95;
			border-radius: 8px;
			margin: 24px 0 0 0;
			width: 100%;
			& img {
				display: none;
			}
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.2px;
				color: #ffffff;
			}
		}
	}
}
