.addClient.display-n
    .addClient__w
        button.addClient__c 
            img(src="./svg/model/close.svg" alt="icons")
        .addClient__b 
            .addClient__t Добавление клиента к машине
            label(for="reg__phone" class="label").addClient__phone
                p Телефон клиента
                img(src="./svg/model/phone.svg" alt="icons")
                input(type="text" id="reg__phone" placeholder="Телефон клиента")

            button.addClient__submit
                p Добавить клиента
