header.headers 
    .containers
        .headers__w
            a(href="index.html").headers__l
                img(class="headers__l-o" src="./img/logo.png" alt="logo")
                img(class="headers__l-m" src="./img/logo_m.png" alt="logo")