.info_car.display-n
    .info_car__w
        button.info_car__c 
            img(src="./svg/model/close.svg" alt="icons")
        ul.info_car__b 
            li.info_car__i
                .info_car__t Машина в пути
                .info_car__e 
                    h5 Дата оправления:
                    p 25.06.2022
                .info_car__e 
                    h5 Время в пути:
                    p 2 дня
                .info_car__e 
                    h5 Дата прибытия:
                    p 27.06.2022
            li.info_car__i
                .info_car__t Данные по грузу
                .info_car__e 
                    h5 Вес:
                    p 4500 кг
                .info_car__e 
                    h5 Объем:
                    p 20 м.куб
                .info_car__e 
                    h5 Кол-во упаковок:
                    p 25 шт.