.info.display-n
    .info__w
        button.info__c 
            img(src="./svg/model/close.svg" alt="icons")
        .info__b 
            .info__t Информация о транспортной компании
            label(class="label" for="reg__comp").info__comp
                p Название компании
                img(src="./svg/model/briefcase.svg" alt="icons")
                input(type="text" id="reg__comp" placeholder="Название компании")
            label(class="label" for="reg__user").info__user
                p Контактное лицо
                img(src="./svg/model/user.svg" alt="icons")
                input(type="text" id="reg__user" placeholder="Контактное лицо")
            label(class="label" for="reg__mail").info__mail
                p Ваша почта
                img(src="./svg/model/mail.svg" alt="icons")
                input(type="text" id="reg__mail" placeholder="Ваша почта")
            label(class="label" for="reg__phone").info__phone
                p Ваш телефон
                img(src="./svg/model/phone.svg" alt="icons")
                input(type="text" id="reg__phone" placeholder="Ваш телефон")
            .info__block
                label(class="label" for="reg__bin").info__bin
                    p БИН
                    img(src="./svg/model/credit-card.svg" alt="icons")
                    input(type="text" id="reg__bin" placeholder="БИН")
                label(class="label" for="reg__year").info__year
                    p С какого года работаете?
                    img(src="./svg/model/calendar.svg" alt="icons")
                    input(type="text" id="reg__year" placeholder="Ваш год")
            label(class="label" for="reg__address").info__address
                p Адрес
                img(src="./svg/model/map.svg" alt="icons")
                textarea(type="text" id="reg__address" placeholder="Ваш адрес")
            label(class="label" for="reg__text").info__text
                p Реквизиты
                textarea(type="text" id="reg__text" placeholder="Ваши реквизиты")
            .info__block
                label(class="label" for="reg__teng").info__teng
                    p Счет в тенгэ
                    img(src="./svg/model/credit-card.svg" alt="icons")
                    input(type="text" id="reg__teng" placeholder="Счет в тенгэ")
                label(class="label" for="reg__usd").info__usd
                    p Счет в USD
                    img(src="./svg/model/credit-card.svg" alt="icons")
                    input(type="text" id="reg__usd" placeholder="Счет в USD")
            button.info__submit
                p Сохранить
