.menuService 
                    .menuService-w
                        .menuService-tab
                            a(href="#").menuService-elem
                                img(src="./svg/service/truck.svg" alt="icons")
                                p Добавить машину
                            a(href="#").menuService-elem
                                img(src="./svg/service/map.svg" alt="icons")
                                p Машины на маршрутах
                            a(href="#").menuService-elem
                                img(src="./svg/service/briefcase.svg" alt="icons")
                                p Транспортные компа... 
                                    div (2)
                        .menuService-wr
                            .menuService-info
                                a(href="#").menuService-elem
                                    img(src="./svg/service/phone.svg" alt="icons")
                                    p Поддержка
                                a(href="#").menuService-elem
                                    img(src="./svg/service/bell.svg" alt="icons")
                                    p Уведомления 
                                        span (20)
                                a(href="#").menuService-elem
                                    img(src="./svg/service/settings.svg" alt="icons")
                                    p Настройки
                            button.menuService-arrow 
                                img(src="./svg/service/chevron-left.svg" alt="icons")
                                p Свернуть панель
                            .menuService-hr
                            .menuService-profile
                                .menuService-ph 
                                    img(src="./img/Avatar.png" alt="avatar")
                                .menuService-t 
                                    h3 Сидоров Пафнутий
                                    p Pafnutiy.Sidoroff@gmail.com
                                button.menuService-logout
                                    img(src="./svg/service/log-out.svg" alt="icons")

