.menuCarrier
                .menuCarrier-tab
                    a(href="#").menuCarrier-elem
                        img(src="./svg/carrier/search.svg" alt="icons")
                        p Поиск транспорта
                    a(href="#").menuCarrier-elem
                        img(src="./svg/carrier/map.svg" alt="icons")
                        p Отслеживание 
                .menuCarrier-info
                    a(href="#").menuCarrier-elem
                        img(src="./svg/carrier/phone.svg" alt="icons")
                        p Поддержка
                    a(href="#").menuCarrier-elem
                        img(src="./svg/carrier/bell.svg" alt="icons")
                        p Уведомления 
                            span (20)
                    a(href="#").menuCarrier-elem
                        img(src="./svg/carrier/settings.svg" alt="icons")
                        p Настройки
                button.menuCarrier-arrow 
                    img(src="./svg/carrier/chevron-left.svg", alt="icons")
                    p Свернуть панель
                .menuCarrier-hr
                .menuCarrier-profile
                    .menuCarrier-ph 
                        img(src="./img/Avatar.png", alt="avatar")
                    .menuCarrier-t 
                        h3 Сидоров Пафнутий
                        p Pafnutiy.Sidoroff@gmail.com
                    button.menuCarrier-logout
                        img(src="./svg/carrier/log-out.svg", alt="icons")

