.menuCompany
                    .menuCompany-w
                        .menuCompany-tab
                            a(href="#").menuCompany-elem
                                img(src="./svg/company/truck.svg" alt="icons")
                                p Добавить машину
                            a(href="#").menuCompany-elem
                                img(src="./svg/company/map.svg" alt="icons")
                                p Машины на маршрутах
                        .menuCompany-wr
                            .menuCompany-info
                                a(href="#").menuCompany-elem
                                    img(src="./svg/company/phone.svg" alt="icons")
                                    p Поддержка
                                a(href="#").menuCompany-elem
                                    img(src="./svg/company/bell.svg" alt="icons")
                                    p Уведомления 
                                        span (20)
                                a(href="#").menuCompany-elem
                                    img(src="./svg/company/settings.svg" alt="icons")
                                    p Настройки
                            button.menuCompany-arrow 
                                img(src="./svg/company/chevron-left.svg" alt="icons")
                                p Свернуть панель
                            .menuCompany-hr
                            .menuCompany-profile
                                .menuCompany-ph 
                                    img(src="./img/Avatar.png" alt="avatar")
                                .menuCompany-t 
                                    h3 Сидоров Пафнутий
                                    p Pafnutiy.Sidoroff@gmail.com
                                button.menuCompany-logout
                                    img(src="./svg/company/log-out.svg" alt="icons")

