.notif 
    .notif__h
        .notif__h-t Уведомления
        button.notif__h-c 
            img(src="./svg/notif/close.svg" alt="icons")
    ul.notif__l
        li.notif__l-i 
            img(src="../svg/notif/car.svg" alt="icons")
            .notif__l-t 
                p Транспорт с номером 
                    span 001 ААА 17 
                    | в пути
                span 5 минут назад
            .notif__l-s 
        li.notif__l-i 
            img(src="../svg/notif/car.svg" alt="icons")
            .notif__l-t 
                p Транспорт с номером 
                    span 001 ААА 17 
                    | в пути
                span 5 минут назад
            .notif__l-s 
        li.notif__l-i 
            img(src="../svg/notif/car.svg" alt="icons")
            .notif__l-t 
                p Транспорт с номером 
                    span 001 ААА 17 
                    | в пути
                span 5 минут назад
            .notif__l-s 
        li.notif__l-i 
            img(src="../svg/notif/car.svg" alt="icons")
            .notif__l-t 
                p Транспорт с номером 
                    span 001 ААА 17 
                    | в пути
                span 5 минут назад
            .notif__l-s 
        li.notif__l-i 
            img(src="../svg/notif/car.svg" alt="icons")
            .notif__l-t 
                p Транспорт с номером 
                    span 001 ААА 17 
                    | в пути
                span 5 минут назад
            .notif__l-s 
