ul.selectOne.display-n
    li.selectOne__i.selectOne__i-ready Одобрить компанию
    li.selectOne__i.selectOne__i-delete Удалить компанию
    li.selectOne__i.selectOne__i-info Информация о компании





