.thx_request.display-n
    .thx_request__w
        button.thx_request__c 
            img(src="./svg/model/close.svg" alt="icons")
        .thx_request__b 
            .thx_request__t Спасибо за заявку!
            .thx_request__i Наши специалисты свяжутся с вами после обработки вашей заявки и уточнят детали
            button.thx_request__close 
                p Закрыть