@@include('components/_head.pug', {
    "title": "Админка перевозчика",
})

@@include('components/_header.pug')

section.carrier
    .containers
        .carrier__w
            @@include('components/_menuCarrier.pug')
            ul.carrier__info 
                li.carrier__info-w 
                    .carrier__info-icon
                        img(src="./svg/carrier/car.svg" alt="icons")
                    .carrier__info-a Транспорт в пути
                    .carrier__info-title Номер: kz 001 ААА 17
                    .carrier__info-g 
                        .carrier__info-i 
                            .carrier__info-t Машина в пути
                            .carrier__info-e 
                                h5 Дата оправления:
                                p 25.06.2022
                            .carrier__info-e 
                                h5 Время в пути:
                                p 2 дня
                            .carrier__info-e 
                                h5 Дата прибытия:
                                p 27.06.2022
                        .carrier__info-i 
                            .carrier__info-t Данные по грузу
                            .carrier__info-e 
                                h5 Вес:
                                p 4500 кг
                            .carrier__info-e 
                                h5 Объем:
                                p 20 м.куб
                            .carrier__info-e 
                                h5 Кол-во упаковок:
                                p 25 шт.
                        .carrier__info-i 
                            .carrier__info-t Машина в пути
                            .carrier__info-e 
                                h5 Отправление:
                                p Караганда
                            .carrier__info-e 
                                h5 Прибытие:
                                p Усть-Каменогорск
                            .carrier__info-e 
                                h5 Расстояние:
                                p 758 км
                            .carrier__info-e 
                                h5 Пройдено:
                                p 158 км
                li.carrier__info-w 
                    .carrier__info-icon
                        img(src="./svg/carrier/car.svg" alt="icons")
                    .carrier__info-a Транспорт в пути
                    .carrier__info-title Номер: kz 001 ААА 17
                    .carrier__info-g 
                        .carrier__info-i 
                            .carrier__info-t Машина в пути
                            .carrier__info-e 
                                h5 Дата оправления:
                                p 25.06.2022
                            .carrier__info-e 
                                h5 Время в пути:
                                p 2 дня
                            .carrier__info-e 
                                h5 Дата прибытия:
                                p 27.06.2022
                        .carrier__info-i 
                            .carrier__info-t Данные по грузу
                            .carrier__info-e 
                                h5 Вес:
                                p 4500 кг
                            .carrier__info-e 
                                h5 Объем:
                                p 20 м.куб
                            .carrier__info-e 
                                h5 Кол-во упаковок:
                                p 25 шт.
                        .carrier__info-i 
                            .carrier__info-t Машина в пути
                            .carrier__info-e 
                                h5 Отправление:
                                p Караганда
                            .carrier__info-e 
                                h5 Прибытие:
                                p Усть-Каменогорск
                            .carrier__info-e 
                                h5 Расстояние:
                                p 758 км
                            .carrier__info-e 
                                h5 Пройдено:
                                p 158 км





@@include('components/_footer.pug')

@@include('components/_thx_request.pug')

@@include('components/_registration.pug')

@@include('components/_info_car.pug')

@@include('components/_addClient.pug')

@@include('components/_status.pug')

@@include('components/_info.pug')

@@include('components/_script.pug')