@@include('components/_head.pug', {
    "title": "Админка перевозчика",
})

@@include('components/_header.pug')

section.company
    .containers
        .company__w
            @@include('components/_menuCompany.pug')
            ul.company__list
                li.company__list-h 
                    .company__checkbox-a
                        input(class="company__checkbox-a__input" type="checkbox" id="checkbox_all")
                        label(class="company__checkbox-a__label" for="checkbox_all")
                    .company__list-st Статус
                    .company__list-tp 
                        h5 Тип транспорта
                        p номер
                    .company__list-st Старт
                    .company__list-fn Финиш
                    .company__list-js Действия
                li.company__list-e 
                    .company__checkbox
                        input(class="company__checkbox__input" type="checkbox" id="checkbox_1")
                        label(class="company__checkbox__label" for="checkbox_1")
                    .company__list-path 
                        h5 В пути
                        p 256 км
                    .company__list-type 
                        h5 Фура
                        p kz 101 FFF 17
                    .company__list-start 
                        p Караганда
                    .company__list-finally 
                        p Усть-Каменогорск
                    .company__list-just 
                        button.company__list-show 
                            img(src="./svg/company/eye.svg" alt="icons")
                        button.company__list-more  
                            img(src="./svg/company/more.svg" alt="icons")
                        button.company__list-users 
                            ul.selectTwo.display-n
                                li.selectTwo__i.selectTwo__i-add Добавить клиента к машине
                                li.selectTwo__i.selectTwo__i-show Смотреть клиентов 
                            img(src="./svg/company/users.svg" alt="icons")
                        button.company__list-basket  
                            img(src="./svg/company/trash.svg" alt="icons")
                        button.company__list-add   
                            img(src="./svg/company/drop.svg" alt="icons")
                li.company__list-e 
                    .company__checkbox
                        input(class="company__checkbox__input" type="checkbox" id="checkbox_2")
                        label(class="company__checkbox__label" for="checkbox_2")
                    .company__list-path 
                        h5 В пути
                        p 256 км
                    .company__list-type 
                        h5 Фура
                        p kz 101 FFF 17
                    .company__list-start 
                        p Караганда
                    .company__list-finally 
                        p Усть-Каменогорск
                    .company__list-just 
                        button.company__list-show 
                            img(src="./svg/company/eye.svg" alt="icons")
                        button.company__list-more  
                            img(src="./svg/company/more.svg" alt="icons")
                        button.company__list-users 
                            ul.selectTwo.display-n
                                li.selectTwo__i.selectTwo__i-add Добавить клиента к машине
                                li.selectTwo__i.selectTwo__i-show Смотреть клиентов 
                            img(src="./svg/company/users.svg" alt="icons")
                        button.company__list-basket  
                            img(src="./svg/company/trash.svg" alt="icons")
                        button.company__list-add   
                            img(src="./svg/company/drop.svg" alt="icons")
                li.company__list-e 
                    .company__checkbox
                        input(class="company__checkbox__input" type="checkbox" id="checkbox_3")
                        label(class="company__checkbox__label" for="checkbox_3")
                    .company__list-path 
                        h5 В пути
                        p 256 км
                    .company__list-type 
                        h5 Фура
                        p kz 101 FFF 17
                    .company__list-start 
                        p Караганда
                    .company__list-finally 
                        p Усть-Каменогорск
                    .company__list-just 
                        button.company__list-show 
                            img(src="./svg/company/eye.svg" alt="icons")
                        button.company__list-more  
                            img(src="./svg/company/more.svg" alt="icons")
                        button.company__list-users 
                            ul.selectTwo.display-n
                                li.selectTwo__i.selectTwo__i-add Добавить клиента к машине
                                li.selectTwo__i.selectTwo__i-show Смотреть клиентов 
                            img(src="./svg/company/users.svg" alt="icons")
                        button.company__list-basket  
                            img(src="./svg/company/trash.svg" alt="icons")
                        button.company__list-add   
                            img(src="./svg/company/drop.svg" alt="icons")
                li.company__list-e 
                    .company__checkbox
                        input(class="company__checkbox__input" type="checkbox" id="checkbox_4")
                        label(class="company__checkbox__label" for="checkbox_4")
                    .company__list-path 
                        h5 В пути
                        p 256 км
                    .company__list-type 
                        h5 Фура
                        p kz 101 FFF 17
                    .company__list-start 
                        p Караганда
                    .company__list-finally 
                        p Усть-Каменогорск
                    .company__list-just 
                        button.company__list-show 
                            img(src="./svg/company/eye.svg" alt="icons")
                        button.company__list-more  
                            img(src="./svg/company/more.svg" alt="icons")
                        button.company__list-users 
                            ul.selectTwo.display-n
                                li.selectTwo__i.selectTwo__i-add Добавить клиента к машине
                                li.selectTwo__i.selectTwo__i-show Смотреть клиентов 
                            img(src="./svg/company/users.svg" alt="icons")
                        button.company__list-basket  
                            img(src="./svg/company/trash.svg" alt="icons")
                        button.company__list-add   
                            img(src="./svg/company/drop.svg" alt="icons")
                li.company__list-e 
                    .company__checkbox
                        input(class="company__checkbox__input" type="checkbox" id="checkbox_5")
                        label(class="company__checkbox__label" for="checkbox_5")
                    .company__list-path 
                        h5 В пути
                        p 256 км
                    .company__list-type 
                        h5 Фура
                        p kz 101 FFF 17
                    .company__list-start 
                        p Караганда
                    .company__list-finally 
                        p Усть-Каменогорск
                    .company__list-just 
                        button.company__list-show 
                            img(src="./svg/company/eye.svg" alt="icons")
                        button.company__list-more  
                            img(src="./svg/company/more.svg" alt="icons")
                        button.company__list-users 
                            ul.selectTwo.display-n
                                li.selectTwo__i.selectTwo__i-add Добавить клиента к машине
                                li.selectTwo__i.selectTwo__i-show Смотреть клиентов 
                            img(src="./svg/company/users.svg" alt="icons")
                        button.company__list-basket  
                            img(src="./svg/company/trash.svg" alt="icons")
                        button.company__list-add   
                            img(src="./svg/company/drop.svg" alt="icons")



@@include('components/_footer.pug')

@@include('components/_thx_request.pug')

@@include('components/_registration.pug')

@@include('components/_info_car.pug')

@@include('components/_addClient.pug')

@@include('components/_status.pug')

@@include('components/_selectTwo.pug')

@@include('components/_info.pug')

@@include('components/_script.pug')