@@include('components/_head.pug', {
    "title": "Админка сервиса",
})

@@include('components/_header.pug')

section.service
    .containers
        .service__w
            @@include('components/_menuService.pug')
            ul.service__info
                li.service__info-h 
                    .service__info-title Статус
                    .service__info-tp 
                        h5 Компания
                        p номер
                    .service__info-st Направление
                    .service__info-fn Контактное лицо
                    .service__info-js Действия
                li.service__info-e 
                    .service__info-a.service__info-a__red.service__info-a__yellow.service__info-a__green Новая
                    .service__info-path 
                        h5 «Что-то там лоджистикс»
                        p Авто.транспорт

                    .service__info-start 
                        p Караганда
                    .service__info-finally
                        h5 Шілдебайұлы Қадырқан 
                        p менеджер по логистике
                    .service__info-just 
                        button.service__info-mail 
                            img(src="./svg/service/mail.svg" alt="icons")
                        button.service__info-phone  
                            img(src="./svg/service/phone.svg" alt="icons")
                        button.service__info-more
                            img(src="./svg/service/more.svg" alt="icons")
                            ul.selectOne.display-n
                                li.selectOne__i.selectOne__i-ready Одобрить компанию
                                li.selectOne__i.selectOne__i-delete Удалить компанию
                                li.selectOne__i.selectOne__i-info Информация о компании
                        button.service__info-add   
                            
                            img(src="./svg/service/drop.svg" alt="icons")
                li.service__info-e 
                    .service__info-a.service__info-a__red.service__info-a__yellow.service__info-a__green Новая
                    .service__info-path 
                        h5 «Что-то там лоджистикс»
                        p Авто.транспорт

                    .service__info-start 
                        p Караганда
                    .service__info-finally
                        h5 Шілдебайұлы Қадырқан 
                        p менеджер по логистике
                    .service__info-just 
                        button.service__info-mail 
                            img(src="./svg/service/mail.svg" alt="icons")
                        button.service__info-phone  
                            img(src="./svg/service/phone.svg" alt="icons")
                        button.service__info-more
                            img(src="./svg/service/more.svg" alt="icons")
                            ul.selectOne.display-n
                                li.selectOne__i.selectOne__i-ready Одобрить компанию
                                li.selectOne__i.selectOne__i-delete Удалить компанию
                                li.selectOne__i.selectOne__i-info Информация о компании
                        button.service__info-add   
                            
                            img(src="./svg/service/drop.svg" alt="icons")
                li.service__info-e 
                    .service__info-a.service__info-a__red.service__info-a__yellow.service__info-a__green Новая
                    .service__info-path 
                        h5 «Что-то там лоджистикс»
                        p Авто.транспорт

                    .service__info-start 
                        p Караганда
                    .service__info-finally
                        h5 Шілдебайұлы Қадырқан 
                        p менеджер по логистике
                    .service__info-just 
                        button.service__info-mail 
                            img(src="./svg/service/mail.svg" alt="icons")
                        button.service__info-phone  
                            img(src="./svg/service/phone.svg" alt="icons")
                        button.service__info-more
                            img(src="./svg/service/more.svg" alt="icons")
                            ul.selectOne.display-n
                                li.selectOne__i.selectOne__i-ready Одобрить компанию
                                li.selectOne__i.selectOne__i-delete Удалить компанию
                                li.selectOne__i.selectOne__i-info Информация о компании
                        button.service__info-add   
                            
                            img(src="./svg/service/drop.svg" alt="icons")
                li.service__info-e 
                    .service__info-a.service__info-a__red.service__info-a__yellow Новая
                    .service__info-path 
                        h5 «Что-то там лоджистикс»
                        p Авто.транспорт

                    .service__info-start 
                        p Караганда
                    .service__info-finally
                        h5 Шілдебайұлы Қадырқан 
                        p менеджер по логистике
                    .service__info-just 
                        button.service__info-mail 
                            img(src="./svg/service/mail.svg" alt="icons")
                        button.service__info-phone  
                            img(src="./svg/service/phone.svg" alt="icons")
                        button.service__info-more
                            img(src="./svg/service/more.svg" alt="icons")
                            ul.selectOne.display-n
                                li.selectOne__i.selectOne__i-ready Одобрить компанию
                                li.selectOne__i.selectOne__i-delete Удалить компанию
                                li.selectOne__i.selectOne__i-info Информация о компании
                        button.service__info-add   
                            
                            img(src="./svg/service/drop.svg" alt="icons")
                li.service__info-e 
                    .service__info-a.service__info-a__red Новая
                    .service__info-path 
                        h5 «Что-то там лоджистикс»
                        p Авто.транспорт

                    .service__info-start 
                        p Караганда
                    .service__info-finally
                        h5 Шілдебайұлы Қадырқан 
                        p менеджер по логистике
                    .service__info-just 
                        button.service__info-mail 
                            img(src="./svg/service/mail.svg" alt="icons")
                        button.service__info-phone  
                            img(src="./svg/service/phone.svg" alt="icons")
                        button.service__info-more
                            img(src="./svg/service/more.svg" alt="icons")
                            ul.selectOne.display-n
                                li.selectOne__i.selectOne__i-ready Одобрить компанию
                                li.selectOne__i.selectOne__i-delete Удалить компанию
                                li.selectOne__i.selectOne__i-info Информация о компании
                            
                                
                        button.service__info-add   
                            img(src="./svg/service/drop.svg" alt="icons")



@@include('components/_footer.pug')

@@include('components/_thx_request.pug')

@@include('components/_registration.pug')

@@include('components/_info_car.pug')

@@include('components/_addClient.pug')

@@include('components/_status.pug')

@@include('components/_info.pug')

@@include('components/_script.pug')