@import 'fonts';

//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #fff;

//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: text; // fix
}

body {
	background-color: $bg;
	font-family: Inter;
	width: 100%;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.containers {
	max-width: 1440px;
	padding: 0 108px;
	margin: 0 auto;
	width: 100%;
}
.display-n {
	display: none !important;
}
opacity-h {
	opacity: 0 !important;
}

//! Media Containers

@media (max-width: 1100px) {
	.containers {
		padding: 0 55px;
	}
}

@media (max-width: 600px) {
	.containers {
		padding: 0 30px;
	}
}

@media (max-width: 400px) {
	.containers {
		padding: 0 16px;
	}
}

//! Error - input and select

// !important
.error {
	position: relative !important;
	border: 1px solid #dc2626 !important;
	box-shadow: 0px 0px 4px rgba(242, 29, 0, 0.8) !important;
	border-radius: 8px !important;
	&::before {
		position: absolute !important;
		left: 0 !important;
		bottom: -20px !important;
		content: 'Ошибка - обязательное поле' !important;
		font-family: Inter !important;
		font-style: normal !important;
		font-weight: 400 !important;
		font-size: 12px !important;
		line-height: 100% !important;
		color: #dc2626 !important;
	}
}

.focus_ {
	border: 1px solid #0052f2  !important;
	box-shadow: 0px 0px 4px rgba(0, 82, 242, 0.8)  !important;
}

.label {
	transition: all 0.5s ease;
}

select {
	transition: all 0.5s ease;
}

//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import 'index/style';
@import 'component/style';

@import 'carrier/style';
@import 'company/style';
@import 'service/style';

//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
