.company {
	width: 100%;
	background: #fff;
	&__w {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 24px 0;
	}
	&__search {
		margin: 0 0 0 24px;
		padding: 32px 24px;
		width: 600px;
		background: #f9fafb;
		box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
		border-radius: 8px;
		&-i {
			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			color: #395e95;
		}
		&-t {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 120%;
			color: #1f2937;
		}
		&-a {
			margin: 4px 0 0 0;
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #4b5563;
		}
		&-b {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5px 16px;
		}
		&-rsl {
			padding: 10px 44px;
			background: #395e95;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: max-content;
			margin: 32px 0 0 0;
			& img {
				margin: 0 0 0 5px;
			}
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.2px;
				color: #ffffff;
			}
		}
		&-type {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 29px 0 0 0;
			& #track_i {
				&::before {
					content: '';
					width: 24px;
					height: 24px;
					background: url('./../svg/index_one/truck.svg') no-repeat;
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translate(0%, -50%);
				}
			}
			& #map_i {
				&::before {
					content: '';
					width: 24px;
					height: 24px;
					background: url('./../svg/index_one/map.svg') no-repeat;
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translate(0%, -50%);
				}
			}
			& .c_select {
				margin: 8px 0 0 0;
				width: 100%;
				position: relative;
				box-shadow: none;
				background: #ffffff;
				border: 1px solid #9ca3af;
				border-radius: 8px;
				& .c_select-block {
					background: #ffffff;
					border: 1px solid #9ca3af;
					border-radius: 8px;
					overflow: auto;
					max-height: 145px;
				}
				& .c_select-wrapper {
					height: max-content;
				}
				& .c_select-element {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
				}
				& .c_select-placeholder {
					font-family: Inter;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					letter-spacing: 0.2px;
					color: #2d4350;
					&:after {
						content: '';
						background: url('./../svg/index_one/arrow.svg') no-repeat;
						width: 24px;
						height: 24px;
						right: 5px;
					}
				}
			}
		}
		&-h {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			& img {
				margin: 3px 0 0 6px;
			}
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				color: #395e95;
			}
		}
		&-g {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 16px;
			margin: 61px 0 0 0;
		}
		&-e {
			position: relative;
			padding: 10px 12px;
			background: #ffffff;
			border: 1px solid #9ca3af;
			border-radius: 8px;
			width: 100%;
		}
		&-text {
			position: absolute;
			left: 0;
			top: -29px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& p {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 150%;
				color: #395e95;
			}
			& img {
				margin: 0 0 0 5px;
			}
		}
		& input {
			width: 100%;
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			letter-spacing: 0.2px;
			color: #2d4350;
			&::placeholder {
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.2px;
				color: #2d4350;
				opacity: 0.5;
			}
		}
	}
	&__list {
		width: 912px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 0 0 24px;
		&-h {
			min-height: 64px;
			padding: 0 0 0 16px;
			width: 100%;
			background: rgba(57, 94, 149, 0.1);
			border-radius: 8px 8px 0px 0px;
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 2fr 2.5fr 3.5fr 3.5fr 3fr;
		}
		&-st {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 120%;
			color: #1f2937;
		}
		&-tp {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			position: relative;
			& h5 {
				font-family: Inter;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 120%;
				color: #1f2937;
			}
			& p {
				position: absolute;
				left: 0;
				bottom: -14px;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 100%;
				letter-spacing: 0.1px;
				color: #6e7687;
			}
		}
		&-fn {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 120%;
			color: #1f2937;
		}
		&-js {
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 120%;
			color: #1f2937;
		}
		&-e {
			height: 64px;
			width: 100%;
			display: flex;
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 2fr 2.5fr 3.5fr 3.5fr 3fr;
			background: #ffffff;
			padding: 0 0 0 16px;
			border-bottom: 1px solid #e6eaee;
		}
		&-path {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			& h5 {
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 130%;
				color: #1f2937;
			}
			& p {
				margin: 2px 0 0 0;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 110%;
				letter-spacing: 0.1px;
				color: #6b7280;
			}
		}
		&-type {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			& h5 {
				font-family: Inter;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 130%;
				color: #1f2937;
			}
			& p {
				margin: 2px 0 0 0;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 110%;
				letter-spacing: 0.1px;
				color: #6b7280;
			}
		}
		&-start {
			padding: 10px 12px;
			width: 180px;
			height: 40px;
			background: #ffffff;
			border: 1px solid #d6daea;
			border-radius: 8px;
			& p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 130%;
				letter-spacing: 0.1px;
				color: #606f89;
			}
		}
		&-finally {
			padding: 10px 12px;
			width: 180px;
			height: 40px;
			background: #ffffff;
			border: 1px solid #d6daea;
			border-radius: 8px;
			& p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: Inter;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 130%;
				letter-spacing: 0.1px;
				color: #606f89;
			}
		}
		&-just {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		&-show {
			background: transparent;
			position: relative;
			cursor: pointer;
			margin: 0 24px 0 0;
		}
		&-more {
			background: transparent;
			position: relative;
			cursor: pointer;
			margin: 0 24px 0 0;
		}
		&-users {
			background: transparent;
			position: relative;
			cursor: pointer;
			margin: 0 24px 0 0;
		}
		&-basket {
			background: transparent;
			position: relative;
			cursor: pointer;
			margin: 0 5px 0 0;
		}
		&-add {
			background: transparent;
			cursor: pointer;
		}
	}
}

//! Checkbox

.company__checkbox-a {
	position: relative;
	&__input {
		appearance: none;
		position: absolute;
		&:checked + .company__checkbox-a__label:after {
			opacity: 1;
		}
	}
	&__label {
		padding-left: 25px;
		font-size: 1rem;
		color: #444;
		cursor: pointer;
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border: 1px solid #9ca3af;
			border-radius: 2px;
			background: transparent;
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: background 0.1s linear, border 0.1s linear;
		}
		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			background: url('./../svg/company/check.svg') no-repeat;
			background-size: 12px 12px;
			opacity: 0;
			position: absolute;
			top: 2px;
			left: 2px;
			z-index: 2;
			transition: opacity 0.1s linear;
		}
	}
}

.company__checkbox {
	position: relative;
	&__input {
		appearance: none;
		position: absolute;
		&:checked + .company__checkbox__label::before {
			background: #9ca3af;
		}
		&:checked + .company__checkbox__label:after {
			opacity: 1;
		}
	}
	&__label {
		padding-left: 25px;
		font-size: 1rem;
		color: #444;
		cursor: pointer;
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border: 1px solid #9ca3af;
			border-radius: 2px;
			background-color: #fff;
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: background 0.1s linear, border 0.1s linear;
		}
		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			background: url('./../svg/company/check.svg') no-repeat;
			background-size: 12px 12px;
			opacity: 0;
			position: absolute;
			top: 2px;
			left: 2px;
			z-index: 2;
			transition: opacity 0.1s linear;
		}
	}
}

//! Menu

.menuCompany {
	width: 288px;
	background: #f9fafb;
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	padding: 24px 8px;
	height: 78vh;
	&-w {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	&-h {
		width: 64px;
		& .menuCompany-elem {
			& p {
				display: none;
			}
			& img {
				margin: 0;
			}
		}
		& .menuCompany-arrow {
			& p {
				display: none;
			}
			& img {
				transform: rotate(180deg);
			}
		}
		& .menuCompany-t {
			display: none;
		}
		& .menuCompany-logout {
			display: none;
		}
		& .menuCompany-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			margin: 64px 0 4px 0;
			width: 100%;
			& img {
				margin: 0;
			}
		}
		& .menuCompany-profile {
			margin: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&-tab {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&-elem {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 8px 12px;
		background: #ffffff;
		cursor: pointer;
		border-radius: 8px;
		width: 100%;
		margin: 0 0 8px 0;
		transition: all 0.5s ease;
		&:last-child {
			margin: 0 0 0 0;
		}
		& img {
			transition: all 0.5s ease;
			margin: 0 12px 0 0;
		}
		& p {
			transition: all 0.5s ease;
			font-family: Inter;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
			color: #395e95;
		}
		& span {
			color: red;
		}
	}
	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&-arrow {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: transparent;
		margin: 64px 0 4px 0;
		transition: all 0.5s ease;
		& p {
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			color: #606f89;
			transition: all 0.5s ease;
		}
		& img {
			margin: 0 6px 0 0;
			transition: all 0.5s ease;
		}
	}
	&-hr {
		width: 100%;
		height: 1px;
		background: #e4e7ec;
		margin: 24px 0;
		transition: all 0.5s ease;
	}
	&-profile {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 5fr;
		gap: 12px;
		margin: 0 0 0 8px;
		transition: all 0.5s ease;
	}
	&-t {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		transition: all 0.5s ease;
		& h3 {
			font-family: Inter;
			transition: all 0.5s ease;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: #344054;
		}
		& p {
			font-family: Inter;
			font-style: normal;
			transition: all 0.5s ease;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #667085;
		}
	}
	&-ph {
		transition: all 0.5s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-logout {
		transition: all 0.5s ease;
		position: absolute;
		top: 0;
		right: 10px;
		background: transparent;
		cursor: pointer;
	}
}
